# Low timeout in order to allow for fast removable media
# extraction. Possibly somewhat problematic with CDs.
# (now a bit higher, since vfat is mounted with "flush")
/media	/etc/autofs/auto.media	--ghost --timeout=60
