[Desktop Entry]
Name=Language and Time Zone
Comment=Select user interface language, time zone and keyboard layout
Exec=customize-locale
Terminal=false
Type=Application
Categories=GTK;Settings;
Icon=preferences-desktop-locale
