## Variables:
## PREFIX:      /liberte, makes syslinux.cfg relocatable (replaced in gen-efi)
## VERSION:     distribution version                     (replaced in gen-efi)
## CONSOLEFONT: PFF2 gfxterm font                        (replaced in gen-efi)
## FSHASH:      SquashFS image hexadecimal SHA-256 hash  (replaced in mkimage)
## {VFAT,ISOFS,EXT,HFSP}FLAGS: filesystem-specific flags (replaced in mkimage)
##
# Regular kernel parameters:
#     (see syslinux.cfg)
#
# EFI-specific kernel parameters:
#     noefi          - disable EFI runtime services (for EFI/kernel arch mismatch)
#     add_efi_memmap - include EFI memory map in kernel's RAM map
#     video=efifb:{macbook,mini,i17,i20}
#
# NOTE: this grub configuration file assumes an EFI binary with bundled modules,
#       and therefore does not insmod specific modules.

set default=0
set timeout=7

set pager=1
set fontfile=PREFIX/boot/grub/CONSOLEFONT


# Parameters that are supplied in mkimage
set fshash=FSHASH
set vfatflags=VFATFLAGS
set isofsflags=EXTFLAGS
set extflags=ISOFSFLAGS
set hfspflags=HFSPFLAGS

# Kernel and initramfs paths
# ${root} is set in memdisk grub.cfg
set kernel=PREFIX/boot/kernel-x86.zi
set initrd=PREFIX/boot/initrd-x86.xz


# efi_arch={IA32,x64} is set in EFI-embedded grub-early.cfg
set tag=EFI-${efi_arch}

# cdroot_type/flags are auto/noatime by default (set in initramfs)
set cdflags="cdroot_hash=${fshash}"


# Switch to gfxterm
if loadfont ${fontfile}; then
    insmod efi_gop
    insmod efi_uga
    set gfxmode=auto
    set gfxpayload=keep
    terminal_output gfxterm
fi

set color_normal=light-gray/black
set color_highlight=white/black
set menu_color_normal=light-gray/blue
set menu_color_highlight=yellow/red


# Detect CD boot by presence of /isolinux directory
if [ -e /isolinux ]; then
    set tag="${tag} CD"
    set cdflags="${cdflags} cdroot_type=iso9660 readonly toram cdroot_flags=${isofsflags}"
fi


menuentry "[${tag}] Liberté Linux VERSION"                         --class=linux {
    linux  ${kernel} ${cdflags} add_efi_memmap quiet memtest=1 loglevel=4
    initrd ${initrd}
}

menuentry "[${tag}] Liberté Linux VERSION (Administrator Console)" --class=linux {
    linux  ${kernel} ${cdflags} nomodeset gentoo=nox,root memtest=2 loglevel=6
    initrd ${initrd}
}


menuentry "Reboot"    --class=boot {
    reboot
}

menuentry "Power Off" --class=boot {
    halt
}
