# Distinguished name is directly supplied to ssl-req

[ req ]
distinguished_name     = req_empty

[ req_empty ]


# X.509 extensions
# http://www.openssl.org/docs/apps/x509v3_config.html

[ sb_ca ]

subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always

authorityInfoAccess    = caIssuers;URI:http://dee.su/liberte

basicConstraints       = critical, CA:TRUE, pathlen:0
keyUsage               = critical, keyCertSign, cRLSign


[ sb_sign ]

subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always

authorityInfoAccess    = caIssuers;URI:http://dee.su/liberte

basicConstraints       = critical, CA:FALSE
keyUsage               = critical, digitalSignature
extendedKeyUsage       = critical, codeSigning, msCodeInd


[ sb_kmod ]

subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always

authorityInfoAccess    = caIssuers;URI:http://dee.su/liberte

basicConstraints       = critical, CA:FALSE
keyUsage               = critical, digitalSignature
extendedKeyUsage       = critical, codeSigning
