# Variables
# PREFIX:      /liberte, makes syslinux.cfg relocatable (replaced during ./setup)
# VERSION:     distribution version                     (replaced during ./setup)
# KVERSION:    kernel version                           (replaced during ./setup)
# CONSOLEFONT: psf(u) console font                      (replaced during ./setup)
# TAG:         [USB], [CD], ...                  (replaced during image creation)
# ROOTFS:      vfat, ext2, iso9660, ...          (replaced during image creation)

DEFAULT liberte
TIMEOUT 70

UI   PREFIX/boot/syslinux/menu.c32
FONT PREFIX/boot/syslinux/CONSOLEFONT

MENU TITLE Liberté Linux
MENU CLEAR


LABEL liberte
    MENU LABEL TAG Liberté Linux VERSION
    LINUX  PREFIX/boot/kernel-KVERSION
    INITRD PREFIX/boot/initramfs-KVERSION
    APPEND real_root=/dev/loop0 looptype=squashfs loop=PREFIX/boot/root-x86.squashfs initrd cdroot cdroot_type=ROOTFS unionfs dopcmcia video=uvesafb:800x600-32,mtrr:3,ywrap quiet splash=silent,fadein,theme:liberte console=tty1 memtest=1

LABEL console
    MENU LABEL TAG Liberté Linux VERSION (Console)
    LINUX  PREFIX/boot/kernel-KVERSION
    INITRD PREFIX/boot/initramfs-KVERSION
    APPEND real_root=/dev/loop0 looptype=squashfs loop=PREFIX/boot/root-x86.squashfs initrd cdroot cdroot_type=ROOTFS unionfs dopcmcia video=uvesafb:off nox memtest=1


MENU SEPARATOR


LABEL disk1
    MENU LABEL Boot Hard Disk 1
    COM32  PREFIX/boot/syslinux/chain.c32
    APPEND hd0

LABEL disk2
    MENU LABEL Boot Hard Disk 2
    COM32  PREFIX/boot/syslinux/chain.c32
    APPEND hd1


MENU SEPARATOR


LABEL hdt
    MENU LABEL Hardware Detection Tool
    COM32 PREFIX/boot/syslinux/hdt.c32

LABEL memtest
    MENU LABEL Memory Test 86+
    LINUX PREFIX/boot/memtest86plus/memtest


MENU SEPARATOR


LABEL reboot
    MENU LABEL Reboot
    COM32 PREFIX/boot/syslinux/reboot.c32


# Normal and selection colors (if splash is not used)
# color white/blue yellow/red

# Splash image uses 14 colors, + 2 for menu
# splashimage /boot/syslinux/splash.xpm.gz
# foreground  ffff00
# background  ff0000
