#********************************************************************
# Wrapper Properties
#
# WARNING - for any changes to take effect, you must completely
# stop the router and the wrapper. Clicking 'Restart' on your
# router console will NOT reread this file! You must
# click "Shutdown", wait 11 minutes, then start i2p.
#
# http://wrapper.tanukisoftware.com/doc/english/properties.html
#********************************************************************

# Name and umask
wrapper.name=i2p
wrapper.umask=077

# Java Application
wrapper.java.command=java
wrapper.java.mainclass=org.tanukisoftware.wrapper.WrapperSimpleApp

# Java Application Parameters
wrapper.ignore_sequence_gaps=TRUE
wrapper.app.parameter.1=net.i2p.router.Router

# Java Classpath
wrapper.java.classpath.1=/usr/share/java-service-wrapper/lib/wrapper.jar
wrapper.java.classpath.2=/opt/i2p/lib/*.jar

# Java Library Path (location of Wrapper.DLL or libwrapper.so)
wrapper.java.library.path.1=/usr/lib/java-service-wrapper

# Java Additional Parameters
# Numbers must be consecutive (except for stripquotes)
wrapper.java.additional.1=-Di2p.dir.base=/opt/i2p
wrapper.java.additional.2=-Di2p.dir.config=/var/lib/i2p/router
wrapper.java.additional.3=-Di2p.dir.log=/var/log/i2p
wrapper.java.additional.4=-Djava.io.tmpdir=/var/run/i2p
wrapper.java.additional.5=-Di2p.naming.impl=net.i2p.client.naming.HostsTxtNamingService
# wrapper.java.additional.X=-DloggerFilenameOverride=router-@.log
# wrapper.java.additional.X=-Dwrapper.logfile=/var/log/i2p/wrapper.log
# wrapper.java.additional.X=-Dorg.mortbay.http.Version.paranoid=true
# wrapper.java.additional.X=-Dorg.mortbay.xml.XmlParser.NotValidating=true

# On some IPv6 enabled systems, I2P and other network-enabled java applications
# may fail to start. For examples see
# http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=560044. 
# Two things that may help if you experience this issue
# 1) "echo 0 > /proc/sys/net/ipv6/bindv6only" as root; or
# 2) uncomment the next two lines:
# wrapper.java.additional.X=-Djava.net.preferIPv4Stack=true
# wrapper.java.additional.X=-Djava.net.preferIPv6Addresses=false

# Java Heap Size (in MB)
wrapper.java.initmemory=4
wrapper.java.maxmemory=32

#********************************************************************
# Wrapper Logging Properties
#
# Format: 'L' for log level, 'P' for prefix, 'D' for thread,
# 'T' for time, 'Z' for millisecond time, and 'M' for message.
#
# Log levels: NONE, FATAL, ERROR, WARN, STATUS, INFO, DEBUG
#********************************************************************
# Format of output for the console
wrapper.console.format=PM
wrapper.console.loglevel=FATAL

# Log file to use for wrapper output logging.
wrapper.logfile=/var/log/i2p/wrapper.log
wrapper.logfile.format=TM
wrapper.logfile.maxsize=8k
wrapper.logfile.maxfiles=1

# File and syslog log levels
wrapper.logfile.loglevel=INFO
wrapper.syslog.loglevel=ERROR

# Actions upon JVM exit, according to exit code
# Router.java: EXIT_GRACEFUL         = 2
#              EXIT_HARD             = 3
#              EXIT_HARD_RESTART     = 4
#              EXIT_GRACEFUL_RESTART = 5
#              EXIT_OOM              = 10
wrapper.on_exit.default=SHUTDOWN
wrapper.on_exit.0=SHUTDOWN
wrapper.on_exit.1=SHUTDOWN
wrapper.on_exit.2=SHUTDOWN
wrapper.on_exit.3=SHUTDOWN
wrapper.on_exit.4=RESTART
wrapper.on_exit.5=RESTART
wrapper.on_exit.10=RESTART

# Actions upon received signals (USR1/2 crash the JVM)
# (HUP is forwarded, and initiates a graceful shutdown in routerconsole)
wrapper.signal.mode.usr1=IGNORE
wrapper.signal.mode.usr2=IGNORE

# The router may take a few seconds to save state, etc on forced SHUTDOWN
wrapper.jvm_exit.timeout=2

# Give the OS some time to clear all the old sockets / etc before RESTART
wrapper.restart.delay=2

# The ping timeout must be at least 5 seconds longer than the value of wrapper.ping.interval.
# Extend this if you are getting 'JVM appears hung' shutdowns.
wrapper.ping.interval=300
wrapper.ping.timeout=320

# Don't use the wrapper's internal timer thread
# (may restart the router whenever OS clock changes)
wrapper.use_system_time=TRUE

# PID file for the wrapper and the JVM (in addition to init.d's /var/run/i2p.pid)
# wrapper.pidfile=/var/run/i2p/i2p.pid
# wrapper.java.pidfile=/var/run/i2p/routerjvm.pid
