[Desktop Entry]
Name=Cables Identity
Comment=Show user identity for secure cables communication
Exec=cable-info
Terminal=false
Type=Application
Categories=GTK;Network;Email;
Icon=emblem-mail
