[Desktop Entry]
Name=Synchronize Media
Comment=Force synchronization prior to media removal
Exec=sync-notify
Terminal=false
Type=Application
Categories=GTK;Utility;System
Icon=drive-removable-media
