# NOTE: This I2P config file must use UTF-8 encoding

# poke the i2ptunnels defined in i2ptunnel.config
clientApp.0.main=net.i2p.i2ptunnel.TunnelControllerGroup
clientApp.0.name=Application tunnels
clientApp.0.args=i2ptunnel.config
clientApp.0.startOnLoad=true

# fire up the web console
## non-SSL and SSL, both IPv6 and IPv4 local interfaces
## clientApp.0.args=7657 ::1,127.0.0.1 -s 7667 ::1,127.0.0.1 ./webapps/
# clientApp.1.args=7657 127.0.0.1 ./webapps/
# clientApp.1.main=net.i2p.router.web.RouterConsoleRunner
# clientApp.1.name=I2P Router Console
# clientApp.1.onBoot=true
# clientApp.1.startOnLoad=true
