# NOTE: This I2P config file must use UTF-8 encoding

router.dynamicKeys=false
router.firstInstalled=1314053515816
router.firstVersion=0.8.7

# Prevent external NTP queries
time.sntpServerList=127.0.0.1

# External clients support via I2CP is apparently necessary
i2cp.SSL=false
i2cp.auth=false
i2cp.disableInterface=false
i2cp.hostname=127.0.0.1
i2cp.port=7654
i2cp.tcp.bindAllInterfaces=false

# Don't regenerate keys on each IP change; not specifying UDP ports
# causes router.config rewrite with random ports on first start.
# NTCP is apparently buggy when used with JamVM
# (event pumper / NotYetConnectedException).
i2np.laptopMode=false
i2np.ntcp.autoip=false
i2np.ntcp.enable=false
i2np.udp.addressSources=hidden
# i2np.udp.internalPort=99999
# i2np.udp.port=99999

# Don't open external ports and/or share traffic
router.isHidden=true
router.sharePercentage=0
i2np.upnp.enable=false

# Reseed via Tor
router.reseedProxyEnable=true
router.reseedProxyHost=127.0.0.1
router.reseedProxyPort=8118
router.reseedSSLDisable=true
router.reseedSSLRequired=false

# HTTPS seeds: https://a.netdb.i2p2.de/,https://c.netdb.i2p2.de/,https://forum.i2p2.de/netdb/,https://r31453.ovh.net/static_media/files/netDb/,https://www.i2pbote.net/netDb/
i2p.reseedURL=http://a.netdb.i2p2.de/,http://c.netdb.i2p2.de/,http://forum.i2p2.de/netdb/,http://r31453.ovh.net/static_media/files/netDb/,http://reseed.i2p-projekt.de/,http://www.i2pbote.net/netDb/

# "Updates will be dispatched via your package manager"
router.updateLastInstalled=1314053515816
router.updateProxyHost=127.0.0.1
router.updateProxyPort=4444
router.updateThroughProxy=true
router.updateUnsigned=false
