# NOTE: This I2P config file must use UTF-8 encoding
# http://echelon.i2p.to/docs/advanced.options.txt

router.dynamicKeys=false
router.firstInstalled=1314053515816
router.firstVersion=0.8.7
router.previousVersion=0.9

# Disable external NTP queries and GeoIP
time.disabled=true
time.sntpServerList=127.0.0.1
routerconsole.geoip.enable=false

# External clients support via I2CP is apparently necessary
i2cp.SSL=false
i2cp.auth=false
i2cp.disableInterface=false
i2cp.hostname=127.0.0.1
i2cp.port=7654
i2cp.tcp.bindAllInterfaces=false

# Use TCP exclusively
i2np.laptopMode=false
i2np.ntcp.enable=true
i2np.ntcp.autoip=false
i2np.ntcp.maxConnections=20
i2np.udp.enable=false
i2np.udp.addressSources=hidden
# i2np.udp.internalPort=99999
# i2np.udp.port=99999
# i2np.udp.maxConnections=20

# Don't open external ports and/or share traffic
# Hidden mode is crucial when proxying via Tor, otherwise NIC IP will be in router.info sent to peers
router.isHidden=true
router.sharePercentage=0
i2np.upnp.enable=false

# Reseed via Tor
router.reseedProxyEnable=true
router.reseedProxyHost=127.0.0.1
router.reseedProxyPort=8118
router.reseedSSLDisable=true
router.reseedSSLRequired=false

# Reseeding is enabled if known routers drops below net.i2p.router.networkdb.reseed.ReseedChecker.MINIMUM,
# unless noreseed.i2p exists in config dir (which is presently the case).
# i2p.reseedURL=http://a.netdb.i2p2.de/,http://c.netdb.i2p2.de/,http://forum.i2p2.de/netdb/,http://r31453.ovh.net/static_media/files/netDb/,http://reseed.i2p-projekt.de/
i2p.reseedURL=https://a.netdb.i2p2.de/,https://c.netdb.i2p2.de/,https://forum.i2p2.de/netdb/,https://r31453.ovh.net/static_media/files/netDb/,https://reseed.i2p-projekt.de/

# "Updates will be dispatched via your package manager"
router.updateLastInstalled=1314053515816
router.updateProxyHost=127.0.0.1
router.updateProxyPort=4444
router.updateThroughProxy=true
router.updateUnsigned=false
plugins.autoUpdate=false
